.banner_main {
    height: 520px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.banner_img {
    height: inherit;
    width: 100%;
    background-position: center;
    position: absolute;
}

.banner_contents {
    position: absolute;
    z-index: 1;
    height: 390px;
    width: 420px;
    top: 40%;
    left: 53%;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.banner_titles {
    background-color: transparent;
    margin-left: 13px;
}

.banner_titles h1 {
    background-color: transparent;
}

.banner_buttons {
    width: 160px;
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: transparent;
}

.banner_buttons1 {
    background-color: rgba(51, 51, 51, 0.5);
    height: 32px;
    width: 50px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.banner_buttons2 {
    background-color: rgba(51, 51, 51, 0.5);
    height: 32px;
    width: 70px;
    border: none;
    outline: none;
}

.banner_buttons1:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_buttons2:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_description {
    background-color: transparent;
    height: 200px;
    width: 350px;
    margin-left: 13px;
}

.banner_description p {
    background-color: transparent;
    height: 200px;
    font-size: larger;
}

.shadow {
    height: 2.3rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    margin-top: -36px;
    position: relative;
    z-index: 1000;
}

@media screen and (min-width:600px) {
    .banner_contents {
        left: 40%;
    }
}

@media screen and (min-width:800px) {
    .banner_contents {
        left: 35%;
    }
}

@media screen and (min-width:950px) {
    .banner_contents {
        left: 30%;
    }
}

@media screen and (min-width:1000px) {
    .banner_contents {
        left: 30%;
    }
}

@media screen and (min-width:1100px) {
    .banner_contents {
        left: 28%;
        width: 620px;
    }
}

@media screen and (min-width:1300px) {
    .banner_contents {
        left: 20%;
        width: 620px;
    }
}