.header-main-scroll {
    background-color: #111;
    height: 50px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.header-main {
    background-color: transparent;
    height: 50px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}